body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(247, 253, 216);
}
.calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(70, 82, 83);
    border-radius: 15px;
    width: 500px;
    overflow: hidden;
    border: 2px solid;

}
#CalciDisplay{
    width: 460px;
    padding: 10px;
    margin: 10px;
    margin-top: 15px;
    font-size: 3rem;
    text-align: right;
    border: 1px solid;
    background-color: rgb(192, 246, 250);
}
.btns{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
    padding: 25px;
}
button{
    width: 100px;
    height: 50px;
    border-radius: 15px;
    border:2px solid;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 2rem;
    font-weight: lighter;
    cursor: pointer;
}
button:hover{
    background-color: rgb(238, 255, 186);
    color: black;
}
button:active{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.operator-btn{
    background-color: rgb(47, 7, 132);
    color: rgb(255, 255, 255);
}
.operator-btn:hover{
    background-color: rgb(238, 255, 186);
    color: black;
}
.operator-btn:active{
    background-color: rgb(255, 255, 255);
    color: black;
}
@media (min-width:300px) and (max-width:500px){
    .calculator{
        width: 300px;
    }
    #CalciDisplay{
        width: 260px;
    }
    button{
        width: 55px;
        height: 30px;
        font-size: 20px;
        font-weight: lighter;
    }
    
}
@media (min-width:501px) and (max-width:700px){
    .calculator{
        width: 400px;
    }
    #CalciDisplay{
        width: 360px;
    }
    button{
        width: 80px;
        height: 40px;
        font-size: 30px;
        font-weight: lighter;
    }
    
}